$color-white: #fff;
$color-black : black;
$color-black-shadow: #333;
$color-violet: #8152d6;
$rem-0-5: 0.5rem;
$rem-1: 1rem;
$rem-1_5: 1.5rem;
$rem-2: 2rem;
$rem-3: 3rem;
$rem-4: 4rem;
$rem-5: 5rem;

/* pagina de auris */
.sec_principal{
    display: flex;
    flex-direction: column;
    align-items: center;
        a{
            color: red;
            text-decoration: none;
        }
        h1{
            margin: $rem-3;
        }
}
.contenedor_cards{
    display: flex;
    margin: $rem-3;
    text-align: center;
}
.contenedor_cards-div{
    flex: 0 0 auto;
    width: 33.33333333%;
    .contenedor_cards-card{
            display: flex;
            flex-direction: column;
            border: 1px rgba(0, 0, 0, 0.175) solid; 
            border-radius: 0.375rem;
            div{
                    flex: 1 1 auto;
                    padding: $rem-1 $rem-1;
                    &:last-child{
                        margin-bottom: 0;
                    }
                }
        }
}

@media screen and (max-width: 992px){
  /* pagina auris */
    .contenedor_cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    div{
        width: auto;
        margin: $rem-1;
        }
    }
}