$color-white: #fff;
$color-black : black;
$color-black-shadow: #333;
$color-violet: #8152d6;
$rem-0-5: 0.5rem;
$rem-1: 1rem;
$rem-1_5: 1.5rem;
$rem-2: 2rem;
$rem-3: 3rem;
$rem-4: 4rem;
$rem-5: 5rem;
$vista:mobile;
$vistas:desktop;


@if $vista == mobile{
    @media only screen and (max-width: 992px){
        #carrusel{
            display: none;
        }
        }
}
@if $vistas == desktop{
    @media only screen and (min-width: 1024px){ 
    #img-seccion{
        display: none;
    }
    }
}


*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    border: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
    padding: 0;
    box-sizing: border-box;
}
/* boton estilo */
button {
    background: $color-white;
    border: none;
    padding: 10px 20px;
    display: inline-block;
    font-size: 15px;
    font-weight: 600;
    width: 120px;
    text-transform: uppercase;
    cursor: pointer;
    transform: skew(-21deg);
    span {
        display: inline-block;
        transform: skew(21deg);
    }
    &::before{
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        right: 100%;
        left: 0;
        background: $color-black-shadow;
        opacity: 0;
        z-index: -1;
        transition: all 0.5s;
    }
    &:hover {
        color: #fff;
    }
    &:hover::before {
        left: 0;
        right: 0;
        opacity: 1;
    }
}
/* home */
/* <!-- categorias principales --> */
.categoria_princ{
    h3{
        text-align: center;
        margin-top: $rem-2;
        font-size: 50px;
    }
    .categoria_princ_container_catego{
        display: flex;
        justify-content: center;
        margin-bottom: $rem-2;
        div{
            margin: $rem-4;
            h4{
                text-align: center;
                margin-top: $rem-1;
                font-size: 20px;
            }
        }
    }
}

/*categorias 1/2 */

.section_categoria{
    width: 100%;
    height: 100%;
    display: grid;
    place-content: center;
    padding: $rem-4 0;
    .section-container{
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-content: space-between;
        gap: $rem-5;
        div{
            margin-bottom: $rem-3;
        }
    }
    .section_izq-img{
        background-color: $color-violet;
        width: 90%;
    }
    .section_der{
        display:flex;
        align-items: center;
        flex-direction: column;
        padding: $rem-2;
        div img{
            background-color: $color-violet;
            width: 90%;
        }
    }
    .section_der_text-title{
        margin-bottom: $rem-0-5;
        h3{
            font-size: 39px;
            font-weight: 700;
            margin: 0 0 $rem-1;
            div{
                margin-bottom: $rem-2;
                font-size: 22px;
            }
        }
    }
}

/* porque comprar */
.container_why{
    margin: 0 auto;
    padding-top: $rem-2;
    padding-bottom: $rem-4;
    display: flex;
    justify-content: center;
    width: 100%;
    .container_why-titulo{
        width: 10%;
        font-size: 20px;
    }
    .container_why-card{
        margin: 0 $rem-1;
        align-items: center;
        display: flex;
        img{
            padding: 0 $rem-1;
        }
    }
}

@media screen and (max-width: 992px){
    /* index */
    /* <!-- categorias principales --> */
    .categoria_princ{
        display: flex;
        flex-direction: column;
        h3{
            font-size: 30px;
        }
        .categoria_princ_container_catego{
            flex-direction: column;
            justify-content: center;
            div{
                display: inline;
                text-align: center;
                overflow: hidden;
            }
        }
    }
    .section_categoria{
        display: flex;
        .section-container{
            display: flex;
            flex-direction: column;
        }
        .img-izq{
            display: none;
        }
        .section_der_text{
            display: flex;
            flex-direction: column;
            text-align: center;
        }
        .section_der_text-sub{
            padding: 0 10px;
        }
    }
    .container_why{
        flex-direction: column;
    .container_why-titulo {
        display: inline-block;
        width: 100%;
        text-align: center;
    }      
    .container_why-card{
        flex-direction: column;
        p{
            text-align: center;
        }
    }
}
}

