$color-white: #fff;
$color-black : black;
$color-black-shadow: #333;
$color-violet: #8152d6;
$rem-0-5: 0.5rem;
$rem-1: 1rem;
$rem-1_5: 1.5rem;
$rem-2: 2rem;
$rem-3: 3rem;
$rem-4: 4rem;
$rem-5: 5rem;
$vista:mobile;
$vistas:desktop;
$body-first-color : #212121;
$body-second-color : #191919;
$text-first-color-card: rgba(0,0,0,0.1);

// pagina de productos

h2{
    font-size: $rem-1;
}